/*---------------- my extranal css------------------- */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color:#FF900E;

    --primary-fonts:font-family: 'Work Sans', sans-serif;

    
}
.primary{
    color: var(--primary-color);
}
.center
{
    text-align: center;
}
body {
    max-width: 1450px;
    background-color: #fff;
}

/* ------------hero section style-----------/////////
------------========================================-- */
.hero-section{
    background-color: antiquewhite;
    max-width: 1250px;
    width: 100%;
    text-align: center;
   
    
}

.navbar {
    display: flex;
    width: 100%;
    height: 80px;
    max-width: 1250px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 50px;
}
.navbar > ul {
    display: flex;
    list-style: none;
    gap: 25px;

}

.navbar-text {
    text-align: center;
}
.navbar-text h2 {
    font-size: 57px;
    line-height: 75px;
    font-weight: 700;
    margin-top: 48px;
}
.nav-title p{
    margin-bottom: 40px;
}
.nav-btn{
    margin-bottom: 40px;
    padding: 10px 30px;
    background: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 15px;
}


/*------------------------------ 0banner section 88888888888888888888888
*******************************************************************888***/
.banner-img img {
    width: 100%;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  padding: 25px 0;
}

/*------------------------------ quick view section 88888888888888888888888
*******************************************************************888***/
.quick-view {
    display: flex;
    margin-top: 25px;
    align-items: center;
}
.view-img {
    margin-left: 170px;
}

.view-img .images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 400px;
}

.view-img .images > img {
    width: 100%;
    height: 100%;
    
}
.view-list {
    padding-left: 3.5rem;
}
.view-list p {
    font-size: 16px;
    font-weight: 400;
    line-height: 2.6rem;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 22px;
}
.view-list h3 {
font-size: 3.5rem;
font-weight: 500;
line-height: 5.3rem;
letter-spacing: 0em;
text-align: left;


}


/* feature section */


/* card section */
.card-title {
    margin-top: 30px;
}
.card-title h2 {
    font-size: 35px;
    font-weight: 500;
}
.card-title p{
    fo
}

.card-section {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .card {
    position: relative;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    padding: 30px 50px;
    background: #fff;
    cursor: pointer;
    margin-right: 30px;
  }
  
  .card:hover {
    height: 220px;
  }
  
  .imgbox {
    position: relative;
    width: 100%;
    height: 70%;
    transform: translateY(-80px);
    z-index: 99;
  }
  
  img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  }
  
  .content {
    padding: 10px 20px;
    text-align: center;
    transform: translateY(-350px);
    opacity: 0;
    transition: 0.3s;
  }
  
  .card:hover > .content {
    opacity: 1;
    transform: translateY(-90px);
  }
  
  .content h2 {
    color: #111;
  }
  .content p {
    color: #111;
  }

/*------------------------------ .sponspors section 88888888888888888888888
*******************************************************************888***/
.sponspors {
    margin-top: 40px;
    text-align: center;
}
.sponspors h3 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
}
.sponspors p {
    font-size: 16px;
    font-weight: 300;
}
.sponspors-img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    margin-top: 2rem;
    
}
.sponspors-img > img {
    filter: grayscale();
}



/* responsive style */

